@model IEnumerable<SchoolManagementApp.mvc.Data.LectureClass>

@{
    ViewData["Title"] = "Index";
}

<h1>Lecture Classes</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Details</a> 
               <button data-id="@item.Id" class="btn btn-outline-danger deleteBtn" type="button">Delete</button>

            </td>
        </tr>
}
    </tbody>
</table>

<form asp-action="Delete" id="lectureClassDeleteForm">
        <input type="hidden" id="lectureClassid" name="Id"/>
 </form>

 @section Scripts{
   <script>
     $(function(){
        let table = new DataTable('.table');
        $('.deleteBtn').click(function(e){
            Swal.fire({
              title: "Are you sure?",
              text: "You won't be able to revert this!",
              icon: "warning",
              showCancelButton: true,
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "Yes, delete it!"
            }).then((result) => {
              if (result.isConfirmed) {
                Swal.fire({
                  title: "Deleted!",
                  text: "Your file has been deleted.",
                  icon: "success"
                });
                
                var btn = $(this);
                var id = btn.data("id");
                $('#teachetid').val(id);
                $('#lectureClassDeleteForm').submit();
              }
            });
        });
     }); 
   </script>
   }
